name: CI

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'requests/**'
      - '*.md'

jobs:
  test:
    name: Node.js ${{ matrix.node-version }}
    runs-on: ubuntu-latest
    if: "!contains(github.event.pull_request.title, '[OPTIC-RELEASE-AUTOMATION]')"
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 22
          - 24
    steps:
      - name: Checkout code
        uses: actions/checkout@v6 
      - name: Configure Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm i
      - name: Run tests
        run: npm t

  automerge:
    name: Merge dependabot's PRs
    if: >
      github.event_name == 'pull_request' &&
      github.event.pull_request.user.login == 'dependabot[bot]'
    needs: test
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: fastify/github-action-merge-dependabot@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
